img {
    display: block;
    max-width: 100%;
    height: 280px;
    border: 30px solid;
    color: white;

}

pagination-controls{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 19px;
    bottom: -20px;
}
.pagination-controls ::ng-deep .ngx-pagination .current {
    background: black;
    font-size: 25px
}